header {
    background-color: #8cbd32;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 3px 3px  lightgray;
    /* background-image: url('https://images.pexels.com/photos/3335697/pexels-photo-3335697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
    z-index: -1;

}
header h2 {
    padding-top: 10px;
}
.login-form {
    /* border: 2px outset lightgray; */
    margin: 20px;
    box-shadow: 4px 4px 4px 4px darkgray;
    padding: 20px;
    margin-top: 38%;
    background-color: white;
}
.body-container {
    display: flex;
    justify-content: space-evenly;
    /* background-color: lightgrey; */
}
.body-element {
    flex-basis: 50%;
    height: 97vh;

}

.header {
    margin-top: 40%;

}
.header-container {
    margin-top: 10px;
    margin-left: 10px;
}
.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: rgb(214, 153, 39);
    width: 20vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes move {
    /* 0%   { transform: scale(1)   translate(10px, -30px); } */
    /* 38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); } */
    40%  { transform: scale(0.8, 1) translate(30vw, 15vh) rotate(30deg); }
    78%  { transform: scale(1.3) translate(10vw, 30vh) rotate(-8deg); }
    /* 80%  { transform: scale(1.3) translate(5vw, 30vh) rotate(-10deg); } */
    /* 100% { transform: scale(1)   translate(5px, -10px); } */
  }